<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>SSHS-FORUM</h1>
        <h5>개발단계 - FE 추가 및 청원/투표 기능 추가</h5>
      </div>

    </div>
  </body>
</html>
